{% extends "__master.html" %}
{% block head %}

<link rel="stylesheet" href="{{ url_for('static', filename='sexting_input.css') }}">

<script src="{{ url_for('bower.static', filename='jquery/dist/jquery.js') }}"></script>

<script src="{{ url_for('static', filename='sexting_input.js') }}"></script>

{% endblock %}
{% block content %}

<div id="messageInput">
  <div id="display"></div>
</div>

<form action="print" method="POST">
  <input type="hidden" name="message" id="message" />
</form>

{% endblock %}
