html { overflow-y: scroll; }

#primary-header { background-color: #A149FF; padding-bottom: 10px; }
#secondary-header { background-color: #EC7FA1; padding-top: 5px; padding-bottom: 5px; margin-bottom: 20px; }
#secondary-header h2 { font-style: italic; margin-top: 8px; margin-bottom: 0; height: 52px; line-height: 42px; }
#nav { margin: 0; display: inline-block; float: right; }

#footer { height: 50px; }

li.disabled a { pointer-events: none; }

#message-form { margin-top: 20px; margin-bottom: 20px; }
