<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Sexting XKeyscore</title>

    <link rel="stylesheet" href="{{ url_for('bower.static', filename='bootstrap/dist/css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='site.css') }}">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script src="{{ url_for('bower.static', filename='jquery/dist/jquery.js') }}"></script>
    <script src="{{ url_for('bower.static', filename='bootstrap/dist/js/bootstrap.js') }}"></script>
  </head>
  <body>
    <div id="primary-header">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <h1>Sexting XKeyscore</h1>
          </div>
        </div>
      </div>
    </div>
    <div id="secondary-header">
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <h2>{% block title %}{% endblock %}</h2>
          </div>
          <div class="col-sm-6">
            {% macro nav_for(active) %}
            <ul class="nav nav-pills">
              <li role="presentation" {% if active == 'message' %}class="active"{% endif %}><a href="{{ url_for('message_input') }}">Message</a></li>
              <li role="presentation" {% if active == 'contacts' %}class="active"{% endif %}{% if not nav_data.show_contacts %}class="disabled"{% endif %}><a href="{{ url_for('contacts_input') }}">Contacts</a></li>
              <li role="presentation" {% if active == 'instructions' %}class="active"{% endif %}{% if not nav_data.show_instructions %}class="disabled"{% endif %}><a href="{{ url_for('view_instructions') }}">Instructions</a></li>
            </ul>
            {% endmacro %}
            <div id="nav" class="well well-sm hidden-xs">
              {% block nav %}{% endblock %}
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          {% for (category, message) in get_flashed_messages(True) %}
          <div class="alert alert-dismissible alert-{{ category }}">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            {{ message }}
          </div>
          {% endfor %}
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          {% block content %}{% endblock %}
        </div>
      </div>
    </div>

    <div id="footer">
    </div>
  </body>
</html>
